<meta charset="UTF-8">
<title>极速交易云平台</title>
<link rel="icon" href="/Public/images/platform.png">
<link rel="stylesheet" href="/Public/css/login.css">
<link rel="stylesheet" href="/Public/css/qs.css">
<link href="/Public/css/blue.css" rel="stylesheet">
<script src="/Public/js/jquery-1.10.2.min.js"></script>
<script src="/Public/js/jquery.js"></script>
<script src="/Public/js/bootstrap.min.js"></script>
<script src="/Public/js/icheck.min.js"></script>
<script src="/Public/js/jquery.unobtrusive-ajax.min.js"></script>
<script src="/Public/js/jquery.validate.min.js"></script>
<script src="/Public/js/jquery.validate.unobtrusive.min.js"></script>
<script src="/Public/js/jquery.SuperSlide.2.1.1.js"></script>
<link rel="stylesheet" href="/Public/css/layer.css" type="text/css" />
<script src="/Public/js/layer.js" type="text/javascript"></script>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="/Public/js/login.js"></script>
<script src="/Public/js/register.js"></script>
<script src="http://cdn.bootcss.com/jsencrypt/2.3.0/jsencrypt.min.js"></script>
<link rel="stylesheet" href="/Public/css/common.css?v=20170505">
<link rel="stylesheet" href="/Public/css/layer.css">
<script src="/Public/js/common.js"></script>
<link rel="stylesheet" href="/Public/js/skin/default/layer.css?v=3.0.11110" id="layuicss-skinlayercss">
<link rel="stylesheet" href="/Public/css/layer.css" >
<link rel="stylesheet" href="/Public/css/app.css?v=2016121401">
<link rel="stylesheet" href="/Public/css/style.min.css">
<link href="/Public/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="/Public/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/Public/css/byb.css">
